.Form_container {
  width: 100%;
  height: 100vh;
  background: url("../images/bg.webp");
  background: rgba(213, 213, 216, 0.623);
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0.5px 1px 15px rgba(0, 0, 0, 0.164);
  background-color: rgb(229, 231, 231);
  width: 40%;
  margin: auto;
  height: 90vh;
}

.steps {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.steps div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps div:nth-child(odd) {
  padding-top: 35px;
}

.steps div p {
  padding: 5px;
}

.steps div p:first-child {
  background-color: gray;
  color: whitesmoke;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}
.stepActive {
  background-color: rgb(117, 117, 235) !important;
}

.catogery {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.catogery div {
  width: 50%;
  font-size: larger;
  text-align: center;
  font-weight: 600;
  margin: 0 5px;
  padding: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.active {
  color: rgb(117, 117, 235);
  border-bottom: 3px solid rgb(117, 117, 235);
}

.formDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tag {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 10px;
  font-size: larger;
}

select {
  padding: 5px 0;
  font-size: large;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  outline: none;
}

.tag input {
  width: 100% !important;
}

.tag p:first-child {
  padding: 5px 0;
  color: rgb(128, 128, 128);
}

.formDetails input {
  padding: 10px 0;
  margin: 10px 0;
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.795);
  font-size: larger;
}

.formDetails input:focus {
  outline: none;
}

.buttons {
  width: 80%;
  margin: 0 auto;
}

.nextBtn {
  padding: 8px 20px;
  font-size: larger;
  background-color: rgb(71, 95, 230);
  color: whitesmoke;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.548);
}
